body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer
}

/* 
 main: #F5BE98, #FDF2EA
 sub: #76232A , #EDB491
 gray: #222222, #424242, #B9B9B9, #BDBDBD, #DFDFDF, #F4F4F4
 */

.modal {
  width: 407px;
  height: 240px;
  color: #f4f4f4;
}

.modal__input {
  color: #fdf2ea;
}

.modal__input--id{
  color: #b9b9b9;
  background-color: #fdf2ea;
  width: 343px;
  height: 50px;
  font-size: 20px;
}

.modal__input--pw {
  color: #b9b9b9;
  background-color: #fdf2ea;
  width: 343px;
  height: 50px;
  font-size: 20px;
}

.modal__button {
  display: flex;
  justify-content: space-between;
}

.modal__button--login {
  color: #b9b9b9;
  background-color: #fdf2ea;
  border-radius: 100px;
  width: 65px;
  height: 28px;
}

.modal__button--join {
  color: #edb491;
  background-color: #76232a;
  border-radius: 100px;
  width: 65px;
  height: 28px;
}

/* common */
.btn-text {
	text-decoration: none;
	font-size: 20px;
}
.btn-text--lg {
	font-size: 32px;
}

.btn-text:hover {
	cursor: pointer;
}

/* header */
.header__links {
	display: flex;
	margin: 0 auto;
	max-width: 840px;
	flex-direction: row-reverse;
	padding-top: 40px;
	gap: 16px;
	color: #222222;
	font-size: 16px;
	font-weight: 400;
}

.header__logo {
	display: flex;
	margin: 0 auto;
	padding-top: 16px;
	justify-content: center;
	max-width: 840px;
}

/* list */
.list-block {
	display: flex;
	margin: 0 auto;
	max-width: 840px;
	padding-top: 40px;
	justify-content: center;
}

.list-block__tab {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	gap: 4px;
}

.list-block__tab__item {
	flex-grow: 1;
	text-align: center;
	background-color: #FDF2EA;
	color: #B9B9B9;
	font-size: 24px;
	padding: 1rem 0;
}

.list-block__tab__item--active {
	background-color: #76232A;
	color: #F5BE98;
}