body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer
}

/* 
 main: #F5BE98, #FDF2EA
 sub: #76232A , #EDB491
 gray: #222222, #424242, #B9B9B9, #BDBDBD, #DFDFDF, #F4F4F4
 */

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.4);
  padding-top: 247px;
}

.modal__popup {
  display: none;
	background-color: #f4f4f4;
  width: 407px;
  height: 240px;
	padding: 32px 32px 32px 32px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  /*display: none;*/
  /*box-shadow: 10px 10px 5px #222222;*/
}

.input {
  color: #fdf2ea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 24px;
  gap: 24px;
}


.input_txt {
  color: #b9b9b9;
  background-color: #fdf2ea;
  font-size: 20px;
  width: 343px;
  height: 50px;
  border: none;
}

.button {
  display: flex;
  justify-content: center;
  gap: 36px;
  font-size: 12px;
}

.button_default {
  color: #b9b9b9;
  background-color: #fdf2ea;
  border-radius: 100px;
  width: 65px;
  height: 28px;
}

.button_active {
  color: #edb491;
  background-color: #76232a;
  border-radius: 100px;
  width: 65px;
  height: 28px;
}

/* common */
.btn-text {
	text-decoration: none;
	font-size: 20px;
}
.btn-text--lg {
	font-size: 32px;
}

.btn-text:hover {
	cursor: pointer;
}

/* header */
.header__links {
	display: flex;
	margin: 0 auto;
	max-width: 840px;
	flex-direction: row-reverse;
	padding-top: 40px;
	gap: 16px;
	color: #222222;
	font-size: 16px;
	font-weight: 400;
}

.header__logo {
	display: flex;
	margin: 0 auto;
	padding-top: 16px;
	justify-content: center;
	max-width: 840px;
}

/* list */
.list-block {
	display: flex;
	margin: 0 auto;
	max-width: 840px;
	padding-top: 40px;
	justify-content: center;
}

.list-block__tab {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	gap: 4px;
}

.list-block__tab__item {
	flex-grow: 1;
	text-align: center;
	background-color: #FDF2EA;
	color: #B9B9B9;
	font-size: 24px;
	padding: 1rem 0;
}

.list-block__tab__item--active {
	background-color: #76232A;
	color: #F5BE98;
}

/* basic modal */

.basic-modal {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.basic-modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #424242;
	opacity: 0.5;
}

.modal__content {
	z-index: 999;
	display: flex;
	width: 600px;
	min-height: 600px;
	background-color: #f4f4f4;
}